html {
  background-color: rgb(53, 54, 56);
  color: rgb(231, 238, 242);
  text-align: center;
}

body {
  max-width: 40rem;
  margin: 0 auto;
}

#cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 60%;
  min-width: 30rem;
}

.forms-container {
  background-color: rgb(90, 90, 91);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  border: rgb(53, 54, 56);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

input {
  border: rgb(53, 54, 56);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}
